
<!DOCTYPE html>
<html>
  <head>
    <title>أعمال موسي ادم عمر  الهندسيه</title>
  </head>

  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}"/> 
  <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}"/>

  <body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="{%url 'index'%}">الصفحه الرئسيه  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
    
    </ul>
    
  </div>
</nav>
<div class="container">

    {% block body %}

    <table class="table table-hover">
      <thead>
        <tr>
        
          <th>اسم المشروع   </th>
        </tr>
      </thead>
  
      <tbody>
  
        {% for item in Items %}
  
        <tr>
         <td><a href="{% url 'project' item.pk %}"> {{item.Name}}</a></td>
          </tr>
        </tbody>
       
  
  
      
  
        {% endfor %}
  

    {% endblock%}
    </div>